*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

body{
    /* background-color: #2b1d0f; */
    /* background-image: url('./pexels-chanwalrus-958545.jpg'); */
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
   color: white;

}






header nav{
    background-color: #212121;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

header nav h1{
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

header nav form{
    display: flex;
    justify-content: center;

}

form input[type="text"]{
    flex-grow: 1;
    margin-right: 10px;
}


form input[type="text"],button
[type="submit"]{
    border: none;
    font-size: 15px;
    padding: 5px;
    border-radius: 4px;
}


form button[type="submit"]{
    background-color: #f44336;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

form button[type="submit"]:hover , .recipe button:hover
, .recipe-closebtn:hover{
    background-color: #ff5c5c;
}



.recipe-Container{
    text-align: center;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap: 35px;
    width: 80%;
    margin: 10px auto;
    padding: 20px;
    place-items: center;
}

.recipe{
    background-color: white;
    display: flex;
    flex-direction: column;
    color: black;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(78,73,73,0.1), -5px -5px 10px rgba(34,34,34,0.5);
    cursor: pointer;
     max-width: 350px;
    transition: transform 0.3s ease-in-out;

}

.recipe:hover{
    transform: scale(1.02);
}

.recipe img{
    height: 300px;
    /* border-radius: 6px; */

}

.recipe h3{
    font-size: 20px;
    margin-block: 5px;
}
.recipe p{
    font-size: 18px;
    color: #4a4a4a;
    margin: 5px 0;

}

.recipe span{
    font-weight: 600;


}

.recipe button{
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    margin: 12px auto;
    background-color: #f44336;
    color: white;
    border: none;
}


.recipe-details{
    display:  none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    /* background-color: #694c2f; */
    background-image: linear-gradient(to top, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);
    -webkit-transform: translate(-50% , -50%);
    border-radius: 12px;
    width: 40%;
    height: 60%;
    font-size: 16px;
    transition: all 0.5s ease-in-out;
    overflow-y: scroll;
}

.recipeName{
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
   

}

.recipeName ,
.ingredientList,
 .recipeinstructions{
    margin-bottom: 10px;
}

.recipeinstructions p{
   line-height: 25px;
   white-space: pre-line;
  
}

.ingredientList{
    margin-bottom: 10px;
    margin-left: 20px;

}

.recipe-detailcontent{
    padding: 25px;

}
.recipe-details::-webkit-scrollbar{
    width: 10px;

}

.recipe-details::-webkit-scrollbar-thumb{
    background: #b5b5ba;
    border-radius: 16px;
    --webkit-border-radius : 16px;
}

body::-webkit-scrollbar{
    width: 10px;

}

body::-webkit-scrollbar-thumb{
    background: #a1a1a1;
}

body::-webkit-scrollbar-track{
    background: #ebebeb;
}



.recipe-closebtn{
    border: none;
    font-size: 15px;
    padding: 5px;
    border-radius: 4px;
    background-color: #f44336;
    color: white;
    position: absolute;
    top:  20px;
    right: 20px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}




@media screen and (max-width:600px){
    header nav{
        flex-direction: column;

    }
    header nav form {
        width:80%;
        margin-top: 20px;
    }
}

